*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mummy{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.firsthead_pikin{
    display: flex;
    background-color: #771016;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 100px;
}
.Knee{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 200px; */
}
#Knee{
    display: flex;
    align-items: center;
}
#Knee img{
    width: 100%;
}
.book{
    text-decoration: none;
    color: white;
}
.book_btn{
    height: 50px;
    background-color: #771016;
    margin-right: 20px;
}
/* navbar */
.nav {
    height: 50px;
    width: 100%;
    background-color: #771016;
    position: relative;

  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;

  }
  
  .nav > .nav-links > a:hover {
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: #771016;
  }
  
  .nav > #nav-check {
    display: none;
  }
  /* firstimage */
  .first_image{
    max-height: 100%;
  }
  /* .forms */
  .forms{
    background-image: url(../images/book\ appointment\ bgi.png);
    background-color: #771016;
    padding: 50px;
    /* padding-top: 150px; */
  }
  .forms h4{
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
  }
   .contact{
    font-family: Rufina;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    color: #771016;
}
.button{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    width: 150px;
}
.teams{
  display: flex;
  justify-content: center;
}
.teams h3{
  font-family: Rufina;
font-size: 70px;
font-weight: 700;
line-height: 105px;
letter-spacing: 0em;
text-align: left;

}
.Meet{
  color: #771016;
}
.Dynamic{
  display: flex;
  justify-content: center;
}
/* cards */
.cards:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.Dr{
  color:#17436D;
  ;
}
.card_mama{
  display: flex;
  width: 100%;
  margin-left: 20px;
  justify-content: space-between;
}
.review{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #771016;
  margin-left: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 60px;
  width: 200px;
  /* padding-right: 200px; */
}
.review a{
  margin-left: 30px;
}
/* .card_two{
  margin-left: 10px;

} */
.Feed{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.mr-3{
  display: flex;
  justify-content: center;
}
.mr-3 h3{
   margin-right: 10px;
}
/* carousel */
.last_section{
  display: flex;
  justify-content: center;
}
.d{
  display: flex;
  background-color: #771016;
  color: white;
  justify-content: center;
  width: 500px;
  height: 450px;
}
a {
  color: #fff;
  text-decoration: none;
}
.About{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.About img{
   width: 500px;
   height: 400px;
}
.write{
  width: 600px;
  /* height: 1000px; */
}
.butt{
  margin-top: 100px;
  background-color: #771016;
  height: 60px;
  width: 150px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.long_text{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 0px; */
  padding-top: 20px;
}
.long_text h3{
    align-items: center;
    justify-content: center;
    padding-left: 250px;
    padding-right: 350px;
    font-family: Poppins;
font-size: 28px;
font-weight: 300;
line-height: 47px;
letter-spacing: 0em;
text-align: center;
}
.circle{
display: flex;
align-items: center;
justify-content: space-between;

}
.curve_one img{
  width: 500px;
}
.curve_one{
position: relative;

}
.text_container{
  position: absolute;
  left: 18px;
  top: 2px;
  color: white;

  font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.eye img{
  width: 30px;
  margin-left: 20px;
}
.eye{
  display: flex;
  margin-left: 20px;
}

.curve_two img{
  width: 500px;
}
.hurting{
  display: flex;
  background-color: #771016;
  align-items: center;
  justify-content: center;
  color: white;
  height: 50px;
  margin-top: 100px;
}
.hurting p{
  margin-left: 20px;
  margin-right: 20px;
}
.last_btn{
  background-color: white;
}
#See{
  display: flex;
  justify-content: center;
}
#See h3{
margin-left: 10px;
font-family: Rufina;
font-size: 64px;
font-weight: 400;
line-height: 79px;
letter-spacing: 0em;
text-align: center;


}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}
.footer {
    background-color: #771016;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
/* .footer-wave-path {
    fill: #fffff2;
} */

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #00bef0;
    color: #fffff2;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: white;
    border-radius: 21px;
    color: #771016;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}
.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #771016;
}
.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}
.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}
.footer-social-icon-svg {
    display: block;
}
.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}
.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: white;
    color: #771016;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #771016;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #771016;
    text-decoration: none;
}
/* Media Query For different screens */
@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
  .review{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #771016;
    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 60px;
    width: 200px;
    /* padding-right: 200px; */
  }
}
/* @media (min-width: 568px) { */
  /* .footer-content-column {
      width: 49.99%;
  } */
/* } */

  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #771016;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .teams h3{
      font-family: Rufina;
      font-size: 30px;
    /* font-size: 85px; */
    font-weight: 700;
    line-height: 105px;
    letter-spacing: 0em;
    text-align: left;
   }
   .card_mama{
    display: inline;
    margin-bottom: 20px;
   }
   /* .card_two{
    margin-top: 20px;
   } */
   .last_section{
    display: inline;
  }
  .d{
    display: inline;
  }
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
  .firsthead_pikin{
    display: none;
  }
  .review{
    margin-left: 6px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 60px;
    width: 200px;
    /* padding-right: 200px; */
  }
  .About{
    display: inline;
  }
  .circle{
    display: inline;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 10px;
    }
    .curve_one{
      width: 200px;
    }
    .curve_one img{
      width: 300px;
    }
    .text_container{
      height: 20px;
    }
    .text_container p{
      height: 30px;
      font-size: x-small;
    }
    .eye img{
      width: 20px;
    }
    #See{
      display: flex;
      font-family: Rufina;
    font-size: xx-small;
    font-weight: 10;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: center;
    }
    .hurting{
      display: inline;
      width: 300px;
    }
  }
  
  /* } */