*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-left: 20px;
}
.her{
    display: flex;
    background-color: #771016;
}
.second_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color:  #771016;
    color: white;
    width: 200px;
    height: 80px;
}
.a{
    text-decoration: none;
    color: white;
    font-size: large;
}
ul{
    background-color: #771016;
    display: flex;
    height: 50px;
    align-items: center;
}
li{
    color: white;
    list-style: none;
    padding-left: 50px;
}
a{
    color: white;
    text-decoration: none;
}
.first_child img{
   width: 550px;
   height: 400px;
}
.img_parent{
    display: flex;
}
.red{
    background-color: #771016;
    height: 300px;
    padding: 20px;
    margin-top: 0px;
    width: 550px;
    padding-top: 0px;
}
.red h6{
    font-weight: bold;
    font-size: 30px;
}
.red p{
    font-size:20px; 
}
.second_child{
    margin-left: 10px;
    font-size: 30px;
    font-weight: normal;
}
.second_child img{
    width: 400px;
    height: 150px;
}
.second_child p{
    background-color: #771016;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-left: 20px;
    width: 400px;
}
section{
    margin-left: 20px;
    margin-bottom: 20px;
}
.div_sect{
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 20px;
}
.div_sect p{
    border-bottom: 2px solid #771016;
    display: inline-block;
}
#first_pikin{
    display: flex;
    padding-right: 20px;
}
#first_pikin h4{
    color: #771016;
    font-size: 20px;
}
#first_pikin h6{
    color: #771016;
    font-size: 20px;
}
#pikin_pikin img{
   width: 550px;
   height: 550px;
}
#pikin_pikin{
    margin-right: 20px;
}
#pikin_two img{
    width: 450px;
    height: 200px;
}
#pikin_two{
    height: 500px;
}
#read{
    text-decoration: none;
    color: rgba(251, 91, 1, 1);
}
#d-flex{
    height: 350px;
}
.Featured{
    border-bottom: 2px solid #F2F2F2;
}
.Featured P{
    border-bottom: 2px solid #771016;
    display: inline-block;
    color: #771016;
}
#Featured{
    display: flex;
    /* border: 1px solid green; */
}
#Featured h5{
    color: #771016;
}
#Featured_firstchild{
    display: flex;
    flex: 1;
}
#Featured_firstchild img{
    width: 300px;
    margin-top: 20px;
    margin-right: 20px;
}
#Read{
    text-decoration: none;
    color: rgba(251, 91, 1, 1);
}
#Popular{
   background: #F2F2F2;
   border-bottom: 2px solid rgba(251, 91, 1, 1);
   /* width: 350%; */
   height: 50px;
   margin-top: 20px;
   padding-top: 10px;
   margin-bottom: 5px;
   margin-right: 20px;
   padding-left: 20px;
}
#Popular h5{
  padding-left: 3px;
}
#Featured_secondchild{
    flex: 1;
    overflow: hidden;
    /* height: 500px; */
    /* border: 1px solid green; */
}
#Comments{
    height: 450px;
    margin-bottom: 5px;
}
.goat{
    display: flex;
    padding-bottom: 10px;
    padding-top: 20px;
    background: #F2F2F2;
    padding-left: 10px;
    margin-right: 20px;  
}
.goat img{
    margin-right: 10px;
    width: 100px;
}
#Popular_one{
    background: #F2F2F2;
    border-bottom: 2px solid rgba(251, 91, 1, 1);
    /* width: 350%; */
    height: 50px;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-left: 20px;
 }
 .icon_div{
    padding-left: 20px;
    background: #F2F2F2;
    margin-right: 20px;
    height: 100px;
    margin-top: 20px;
    padding-top: 20px;
 }
 .fa-facebook{
    padding-right: 20px;
    color: #771016;
    margin-top: 20px;
 }
 .fa-twitter{
    padding-right: 20px;
    color: #771016;
 }
 .fa-google{
    padding-right: 20px;
    color: #771016;
 }
 .fa-twitch{
    color: #771016;
 }
 .almost{
    display: flex;
    background-color: #a33137;
    
 }
 .almost img{
    width: 150px;
 }
 .foot_one{
    display: flex;
 }
.facebook{
     background-color: white;
     border-radius: 50%;
     border: 1px solid pink;
     padding: 10px;
}
.fa-vimeo{
    color: #771016;
}
.fa-linkedin{
    color: #771016;
    /* padding-left: 20px; */
}
footer{
    background-color: #771016;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}
.first_footpikin img{
   color: white;
}
footer li{
    padding-left: 0px;
    padding-bottom: 5px;
}
footer h5{
    padding-bottom: 5px;
}
footer p{
    padding-bottom: 20px;
}
footer button{
    background-color: white;
    border: none;
    border-radius: 20px;
}
footer button a{
    text-decoration: none;
    color: #771016;
}
.icon_div{

}
@media only screen and (min-width: 800px){
    .oga_patapata{
        max-width: 100%;
        margin: 0 auto;
        background-color: red;
    }
}
@media only screen and (max-width: 500px) {
    body{
        background-color: red;
        /* width: 414px; */
    }
}
