
*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mummy{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.firsthead_pikin{
  display: flex;
  background-color: #771016;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 100px;
}
.Knee{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 200px; */
}
#Knee{
  display: flex;
  align-items: center;
}
#Knee img{
  width: 100%;
}
.book{
  text-decoration: none;
  color: white;
}
.book_btn{
  height: 50px;
  background-color: #771016;
  margin-right: 20px;
}
/* navbar */
.nav {
  height: 50px;
  width: 100%;
  background-color: #771016;
  position: relative;

}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;

}

.nav > .nav-links > a:hover {
  background-color: #771016;
}

.nav > #nav-check {
  display: none;
}
/* firstimage */
.first_image{
  max-height: 100%;
}

.specialties{
  display: flex;
  align-items: center;
  justify-content: center;
}
.specialties h1{
  font-family: Rufina;
font-size: 70px;
font-weight: 700;
line-height: 105px;
letter-spacing: 0em;
text-align: left;
margin-right: 10px;
}


/* krdtyu */
#parents{
    display: flex;
    padding: 20px;
    padding-right: 10px;
}
.card{
     box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
     padding: 20px;
     margin-left: 50px;
}
.card img{
    margin-right: 50px;
}
.card:hover{
    cursor: pointer;
    color: #771016;
    transform: scale("red");
    animation: ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.fa-chevron-circle-right{
    margin-left: 150px;
}
.btn_two{
    margin-left: 600px;
    width: 150px;
}
a{
    text-decoration: none;
    color: #771016;
    
}
.Hurting{
    display: flex;
    padding-top: 30px;
    margin-top: 20px;
    background-color: #771016;
    justify-content: center;
    color: white;
    margin: 20px;
}
.appoint{
    background-color: white;
    color: #771016;
    height: 50px;
    width: 300px;
    margin-bottom: 20px;
    padding: 30px;
    padding-top: 40px;

}
.Hurting p{
    margin-left: 20px;
    margin-right: 20px;
}
.d-flex{
    margin-right: 20px;
    padding-right: 20px;
    display: flex;
   justify-content: space-between;
}
.Customers{
    background-color: rgba(119, 16, 22, 0.1);
    ;
}
.d-block{
    width: 50px;
    margin-right: 40px;
    /* margin-left: 20px; */
    height: 50%;
}
.Say img{
    margin: 50px;
    background-color: none;
}
/* @media only screen and(max-width:600px){
    body{
        background-color: green;
    }
} */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* mibileee */
@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #771016;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .teams h3{
    font-family: Rufina;
    font-size: 30px;
  /* font-size: 85px; */
  font-weight: 700;
  line-height: 105px;
  letter-spacing: 0em;
  text-align: left;
 }
 .card_mama{
  display: inline;
  margin-bottom: 20px;
 }
 .card_two{
  margin-top: 20px;
 }
 .last_section{
  display: inline;
}
.d{
  display: inline;
}
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 1050px;
  position: relative;
}
.firsthead_pikin{
  display: none;
}
.specialties h1{
  font-family: Rufina;
font-size: 30px;
font-weight: 700;
line-height: 105px;
letter-spacing: 0em;
text-align: left;
margin-right: 10px;
}
.specialties{
  display: flex;
}
}
